<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Signup Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">
        
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{% static 'JS/signup.js' %}"></script>
    <script NewUrl="{% url 'check_username' %}"></script>
    <script>var csrfToken = "{{ csrf_token }}";</script>
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="" method="post">
        {% csrf_token %} 
        <h3>Signup Here</h3>
        <label for="username">Username</label>
        <input type="text" placeholder="Username" name="username" id="username">

        <label for="email">Email</label>
        <input type="email" placeholder="Email or Phone" name="email" id="email">

        <label for="first name">First name</label>
        <input type="text" placeholder="First name" name="first name" id="first name">

        <label for="Last name">Last name</label>
        <input type="text" placeholder="Last name" name="Last name" id="Last name">

        <label for="password1">Password</label>
        <input type="password" placeholder="Password" id="password1" name="password1">

        <label for="password2">Confirm Password</label>
        <input type="password" placeholder="Confirm Password" id="password2" name="password2">
        <p id="password-match-message" class="error-message" style="display: none;">Passwords do not match.</p>

        <button type="submit" disabled>Signup</button>
        
        <a href="{% url 'login' %}" >I already have an account</a>
    </form>
</body>
</html>