body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

h2 {
    color: #007bff;
}

#taskUserTable_wrapper .dropdown-toggle {
    margin-right: 10px;
}

#taskUserTable th,
#taskUserTable td {
    vertical-align: middle;
}

.dropdown-item {
    cursor: pointer;
}
.table-row-hover:hover {
    background-color: #f5f5f5; 
    cursor: pointer; 
}

#taskUserTable tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

#taskUserTable tbody tr:nth-child(even) {
    background-color: #ffffff; 
}